'[{
  "artistId": "110e8300-e32b-41d4-a716-664400445500",
  "artistName": "Daft Punk",
  "description": "French electronic music duo consisting of musicians Guy-Manuel de Homem-Christo and Thomas Bangalter",
  "imageURL": "http://travelhymns.com/wp-content/uploads/2013/06/random-access-memories1.jpg",
  "nationality": {
    "countryCode": "FRA",
    "countryName": "France"
  }
},
{
  "artistId": "110e8300-e32b-41d4-a716-229932554400",
  "artistName": "Pink Floyd",
  "description": "English rock band that achieved international acclaim with their progressive and psychedelic music.",
  "imageURL": "http://www.billboard.com/files/styles/promo_650/public/stylus/1251869-pink-floyd-reunions-617-409.jpg",
  "nationality": {
    "countryCode": "ENG",
    "countryName": "England"
  }
},
{
  "artistId": "11032be3-41d4-4455-a716-664400a71600",
  "artistName": "Radiohead",
  "description": " English rock band from Abingdon, Oxfordshire, formed in 1985",
  "imageURL": "http://www.wired.com/images_blogs/photos/uncategorized/2007/10/01/radiohead.jpg",
  "nationality": {
    "countryCode": "ENG",
    "countryName": "England"
  }
},
]'
