'{
  "albumId": "183100e3-0e2b-4404-a716-66104d440550",
  "albumName": "Random Access Memories",
  "year": "2013",
  "imageURL": "http://upload.wikimedia.org/wikipedia/en/a/a7/Random_Access_Memories.jpg",
  "genreCode": "ELE",
  "artistId": "110e8300-e32b-41d4-a716-664400445500"
}'
